<div class="header-container">
  <div class="header-content">
    <img class="header-img" width="200" height="150" src="http://u.cubeupload.com/Bompkins/NOwhitesymbol.png" />
    <div class="header-list">
      <form action="https://github.com/Jordloop">
        <button mat-icon-button class="header-button">
          <img src="http://u.cubeupload.com/Bompkins/GitHubMark32px.png" alt="My Github">
        </button>
      </form>
      <form action="https://www.linkedin.com/in/jordan-loop/">
        <button mat-icon-button class="header-button">
          <img src="http://u.cubeupload.com/Bompkins/linkedopt.png" alt="My LinkedIn">
        </button>
      </form>
      <button mat-icon-button (click)="openSnackBar()" class="header-button">
        <img src="http://u.cubeupload.com/Bompkins/gmailopt1.png" alt="My Email">
      </button>
    </div>
      <!-- <mat-tab-group class="tab-group" mat-stretch-tabs *ngIf="!landing">
        <mat-tab label="About" color="primary">
          <about></about>
        </mat-tab>
        <mat-tab label="Experience">
          <experience></experience>
        </mat-tab>
        <mat-tab label="Projects">
          <projects></projects>
        </mat-tab>
      </mat-tab-group> -->
  </div>
</div>

