<div class="footer-container">
  <div class="footer-content">
    <mat-list class="footer-list">
      <form action="https://github.com/Jordloop">
        <button mat-icon-button class="footer-button"><img src="http://u.cubeupload.com/Bompkins/GitHubMark32px.png" alt="My Github"></button>
      </form>
      <form action="https://www.linkedin.com/in/jordan-loop/">
        <button mat-icon-button class="footer-button"><img src="http://u.cubeupload.com/Bompkins/linkedopt.png" alt="My LinkedIn"></button>
      </form>
      <button mat-icon-button (click)="openSnackBar()" class="footer-button"><img src="http://u.cubeupload.com/Bompkins/gmailopt1.png" alt="My Email"></button>
    </mat-list>
  </div>
</div>
