.footer-container {
    width: 80%;
    margin-left: 25px;
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 50%;
    left: 0;
    width: 50px;
    z-index: 1;
    background-color: whitesmoke;
}

.footer-content {
    display: flex;
    justify-content: center;
    width: 25%;    
    background-color: whitesmoke;
}

.footer-list {
    width: 180px;
    display: flex;
    justify-content: space-around;
    align-self: center;
    /* align-self: center; */
}

.footer-button {
    margin: 100px;
}
