<div class="container">
  <img width="600" height="400" src="http://u.cubeupload.com/Bompkins/ScreenShot20171113at.png" alt="Project Screenshot">
  <div class="content">
    <h2 class="heading text">I am me!</h2>
    <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin finibus massa vitae odio ultrices, quis egestas enim maximus.
      In a rhoncus ex. Nam dictum eu sem eu sollicitudin. Pellentesque euismod nec nisi sit amet rhoncus. Class aptent taciti sociosqu
      ad litora torquent per conubia nostra, per inceptos himenaeos. Aenean vitae iaculis dui. Praesent vel lobortis mauris, non
      consectetur nisi. Ut fermentum mi non mattis finibus. Sed purus augue, lacinia ac urna vitae, bibendum pharetra tellus. Nunc
      ut diam id massa scelerisque laoreet eget facilisis urna. Etiam tortor augue, euismod et tincidunt eget, dictum eget urna.
      Sed imperdiet scelerisque varius. Donec ac risus aliquam, ultrices eros et, vestibulum libero. Etiam porttitor in quam quis
      dapibus. Vestibulum et leo sed nisl varius volutpat. Nunc fringilla vitae eros a scelerisque. Morbi pellentesque tellus sed
      magna dictum imperdiet. Vivamus eu ipsum ut mi tincidunt placerat. Ut volutpat eros sed metus fermentum aliquam. Curabitur
      eleifend lacus ac feugiat finibus. Donec at lacinia elit. Suspendisse mi felis, faucibus a bibendum vitae, tincidunt sit
      amet elit. In suscipit iaculis ornare. Aliquam interdum mollis ligula, nec viverra velit.</p>
  </div>
</div>