<div id="about-container">
  <div id="about-content">
    <img width="380" height="250" src="https://u.cubeupload.com/Bompkins/me.jpg" alt="Me">
    <div id="about-text">
      <h2 class="emphasize">Hello,<br>I am Jordan Loop.</h2>
      <p class="sentence">I am a Junior Web Developer.</p>
      <p class="sentence">I have a foundational undestanding of object oriented programming.</p>
      <p class="sentence">I enjoy turning raw data into something meaningful.</p>
      <p class="sentence">I value organization, structure, and colaboration very highly.</p>
      <p class="sentence">I am a team player, you learn more and get more done as a team.</p>
      <br>
      <p class="emphasize">I love solving problems; it's why I love coding.</p>
    </div>
  </div>
</div>