#about-container {
    width: inherit;
    height: inherit;
    padding: 50px;
    display: flex;
    flex-direction: column;
    background-color: rgb(142, 142, 142);
    justify-content: center;
    color: whitesmoke;
}

#about-content {
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#about-text {
    margin-left: 5%;
}

p {
    font-size: 14pt;
    margin: 5px;
    white-space: nowrap;
}

.emphasize {
    font-weight: bold;
    font-size: 18pt;
}