<div id="about-container">
  <div id="about-content">
    <img width="380" height="250" src="../../assets/img/me.jpg" alt="Me">
    <div id="about-text">
      <h2 id="heading-text">I am Jordan Loop.</h2>
      <p>I am a Junior Web Developer.</p>
      <p>I have a foundational undestanding of object oriented programming.</p>
      <p>I enjoy turning raw data into something meaningful.</p>
      <p>I value organization, structure, and colaboration very highly.</p>
      <p>I am a team player, you learn more and get more done as a team.</p>
      <p>I love solving problems, its why I love coding.</p>
    </div>
  </div>
</div>