#about-container {
    width: inherit;
    height: inherit;
    padding: 50px;
    display: flex;
    flex-direction: column;
    background-color: rgb(142, 142, 142);
    justify-content: center;
    font-family: futura;
    color: whitesmoke;
}

#about-content {
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#about-text {
    margin-left: 5%;
}

#heading-text {
    font-size: 18pt;
}

p {
    font-size: 14pt;
    margin: 5px;
    white-space: nowrap;
}

/* .container {
    padding-top: 80px;
    width: inherit;
    height: inherit;
    display: flex;
    margin: 0;
    justify-content: space-around;
    background-color: tan;
}

.content {
    display: flex;
    flex-direction: column;
    width: 40%;
    padding: 15px;
}

.not-image {
    display: flex;
    flex-direction: column;
}

.heading {
    align-self: center;
}

img {
    align-self: center;
    padding: 15px;
}

.icon-list {
    display: flex;
    justify-content: center;
} */
