<div class="experience-container">
  <h1 id="experience-title">EXPERIENCE</h1>
  <div class="experience-list" *ngFor="let experience of experiences">
    <div class="experience-detail">
      <div class="left">
        <h3 class="name">{{ experience.name }}</h3>
        <em class="time">{{ experience.time }}</em>
      </div>
      <div class="right">
        <h3 class="position">{{ experience.position }}</h3>
        <p class="description">{{ experience.desctiption }}</p>
      </div>
    </div>
  </div>
</div>



