.container {
    width: 100%;
    height: 100vh;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: whitesmoke;
}

.experience-card {
    margin: 15px;
    width: 600px;
}