.experience-container {
    width: inherit;
    height: inherit;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: whitesmoke;
}

.experience-list {
    width: inherit;
    display: flex;
    justify-content: center;
    /* background-color: purple; */
}

.experience-detail {
    width: 70%;
    height: inherit;
    display: flex;
    justify-content: space-around;
}

#experience-title {
    font-size: 32pt;
}

.position, .name {
    font-size: 18pt;
}

.description {
    font-size: 16pt;
    width: 70%;
}

.left {
    display: flex;
    flex-direction: column;
}

.right {
    width: 60%;
    margin: 0;
}
