.container {
    display: flex;
    padding-top: 100px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: whitesmoke;
}

.project-card {
    margin: 15px;
    width: 600px;
}

.action-continer {
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-content: center;
}

.button-container {
    display: flex; 
    justify-content: center;
}

button {
    background-color: lightgray;
}