<div class="container">
  <mat-card *ngFor="let project of projects" class="project-card">
    <mat-card-header>
      <mat-card-title>{{project.title}}</mat-card-title>
      <mat-card-subtitle>{{project.subtitle}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image width="150" height="250" src="{{project.screenshot}}" alt="Project Screenshot">
    <mat-card-content>
      <p>{{project.body}}</p>
    </mat-card-content>
    <div class="button-container">
      <mat-card-actions class="action-continer">
          <form action="{{project.repo}}">
            <button mat-raised-button type="submit">GitHub</button>
          </form>
          <form *ngIf="project.hosted != null" action="{{project.hosted}}">
            <button mat-raised-button type="submit">Site</button>
          </form>
        </mat-card-actions>
    </div>
  </mat-card>
</div>