<div class="container">
  <mat-card class="project-card">
    <mat-card-header>
      <mat-card-title>Project Title</mat-card-title>
      <mat-card-subtitle>Project Subtitle</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image width="150" height="250" src="http://u.cubeupload.com/Bompkins/ScreenShot20171113at.png" alt="Project Screenshot">
    <mat-card-content>
      <p>
        This is an app that is a protfolio. You are currently using it. In fact, in order to be reading this you will have to have seen the screen I have a snapshot of above! You are pretty bonkers too! Believe it or not, I'm going to type even more works so this uninteresting text takes up more space! Can you even believe that?!
      </p>
    </mat-card-content>
      <mat-card-actions>
        <a href="https://jordloop.github.io/Portfolio/" mat-button>This is a button with a lot of text on it that will take you to the project this card is refering to!!</a>
      </mat-card-actions>
  </mat-card>
</div>