.contact-container {
    width: inherit;
    height: inherit;
    padding: 25px;
    display: flex;
    justify-content: center;
    background-color: rgb(142, 142, 142);
}

.contact-list {
    display: flex;
    justify-content: space-around;
}

.link {
    display: flex;
    /* padding: 10px; */
    align-items: center;
    text-decoration: none;
    color: whitesmoke;
}
p.link-text {
    padding: 10px;
}