<div class="contact-container">
  <div class="contact-list">
    <a class="link" href="https://github.com/Jordloop">
      <img src="http://u.cubeupload.com/Bompkins/GitHubMark32px.png" alt="My Github">
      <p class="link-text">https://github.com/Jordloop</p>
    </a>
    <a class="link" href="https://www.linkedin.com/in/jordan-loop/">
      <img src="http://u.cubeupload.com/Bompkins/linkedopt.png" alt="My Github">
      <p class="link-text">https://www.linkedin.com/in/jordan-loop</p>
    </a>
    <a class="link" href="mailto:jordloop@gmail.com">
      <img src="http://u.cubeupload.com/Bompkins/gmailopt1.png" alt="My Github">
      <p class="link-text">jordloop@gmail.com</p>
    </a>
  </div>
</div>