.contact-container {
    width: inherit;
    height: inherit;
    padding: 50px;
    display: flex;
    justify-content: center;
    background-color: whitesmoke;
}

.contact-list {
    display: flex;
    justify-content: space-around;
}

.link {
    display: flex;
    /* padding: 10px; */
    align-items: center;
}
p.link-text {
    padding: 10px;
}