#skills-container {
    width: inherit;
    height: inherit;
    padding: 50px;
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    justify-content: center;
}

.skills-title {
    font-size: 32pt;
    align-self: center;
}

#skills-list {
    /* align-self: center; */
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
}

.skill-detail {
    /* align-self: center; */
    background-color: whitesmoke;    
    /* width: 33%; */
    margin: 15px;
}



/* .skills-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; */
/* } */

